#!/bin/rc
rfork e
oldawk=trueawk
awk=kwa

# an arbitrary collection of input data
cat td.1 td.1 >foo.td
sed 's/^........................//' td.1 >>foo.td
pr -m td.1 td.1 td.1 >>foo.td
pr -2 td.1 >>foo.td
cat bib >>foo.td
wc foo.td
td=foo.td
>footot

for(i in tt.*){
	echo -n $oldawk': '
	time $oldawk -f $i $td >foo2.$i >[2]foo2t.$i
	cat foo2t.$i
	echo -n $awk': '
	time $awk -f $i $td >foo1.$i >[2]foo1t.$i
	cat foo1t.$i
	cmp foo1.$i foo2.$i
	echo $i: >>footot
	cat foo1t.$i foo2t.$i >>footot
}
